{
    "extends": ["airbnb", "prettier", "prettier/react"],
    "env": {
        "jest": true,
        "browser": true
    },
    "rules": {
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": [".storybook/**", "**/*.stories.js"]
            }
        ],
        "no-use-before-define": [
            1,
            {
                "functions": true,
                "classes": true
            }
        ],
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".js"]
            }
        ]
    },
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"]
            }
        }
    }
}
